/* css for navbar */
body {
  transition: background-color 0.4s ease, color 0.4s ease;
}

body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode .navbar {
  background-color: #1f1f1f !important;
}

body.dark-mode .nav-link {
  color: #ffffff !important;
}

body.dark-mode .btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}





/* social media icons css */
.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #0dcaf0;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.3s ease;
  box-shadow: 0 4px 15px rgba(13, 202, 240, 0.5);
  text-decoration: none;
}

.social-icon:hover {
  transform: scale(1.1);
  background: white;
  color: #0dcaf0;
  box-shadow: 0 6px 20px rgba(13, 202, 240, 0.8);
}

.btn-download {
  width: 200px;
  background: #0dcaf0;
  color: #000;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 600;
  box-shadow: 0 0 15px #0dcaf0;
  transition: all 0.3s ease;
  display: inline-block;
  text-decoration: none;
}

.btn-download:hover {
  background: white;
  color: #0dcaf0;
  box-shadow: 0 0 25px #0dcaf0;
}




/* css for education cards */
.education-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border-color: #0d6efd;
}





.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}




/* Hide scrollbar across browsers */
.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}



/* responsibilities cards css */
.hover-zoom {
  transition: transform 0.3s ease-in-out;
}

.hover-zoom:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}



/* projects cards design css */
.portfolio-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.portfolio-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}




/* cards.css */
.hover-zoom {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hover-zoom:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}